.about_ul{
    background-color: #e9899e		;
    color: whitesmoke;
    float: left;
    width:15%; 
    height: 40%;
    font-size: 20px;
    align-items:center ;
    display: list-item;
    margin-top: 30%;
    margin-bottom: 10px;
    height: 76vh;
    margin-top: 20vh;
    border-radius: 20px;
    margin: 10px; 
    border-radius: 10px;
}


.title_h1 {
 color: #fff; 
 padding-top: 0px;
 font-size: 45px; 
 font-weight: 70;
 text-align: center;
 font-family: 'Source Sans Pro', sans-serif;
 margin: 0px;
 font-style:in;
 padding-left: 1ch;
 box-shadow: 0 1px 3px rgba(0.3, 0.4, 0, 0.1);

}

/*.title_h1 {
  color: #fff; 
    padding-top: 0px;
    font-size: 35px; 
    font-weight: 90;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-style:oblique;
    box-shadow: 0 1px 3px rgba(0.3, 0.4, 0, 0.1);
}*/

.about_h2 {
    color: #fff; 
    padding-top: 40px;
    font-size: 30px; 
    font-weight: 70;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    font-style:oblique;
    box-shadow: 0 1px 3px rgba(0.3, 0.4, 0, 0.1);
   }

  .img{
    size: 100vh;
  }

   

   p {
    color: #f9caca; 
    padding-top: 40px;
    font-size: 15px; 
    font-weight: 70;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0px;
    font-style:in;
   box-sizing: border-box;
   }
