.container_Login {
    position: relative;
    top: 0;
    background-image: url('../../imgs/login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 100px);
    font-family: Arial, Helvetica, sans-serif;
}

.card_login {
    background: hsla(280, 84%, 41%, 1);
    background: -moz-linear-gradient(90deg, hsla(280, 84%, 41%, 1) 0%, hsla(218, 97%, 56%, 1) 100%);
    opacity: 0.7;
    width: 600px; /* Adjusted card width */
    height: 480px; /* Adjusted card height */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
}

.inp {
    margin-top: 20px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: rgb(143, 43, 150);
    outline: none;
    margin-bottom: 30px;
    color: rgb(3, 251, 181);
    width: 400px;
    height: 50px;
    font-size: 40px;
}

.inp:focus {
    border-bottom-color: rgb(30, 255, 0);
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.inp::placeholder {
    color: #C4E4FF; /* Change to your desired color */
}

.btn_login {
    background-color: hsla(280, 84%, 41%, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.btn_login:hover {
    background-color: hsla(218, 97%, 56%, 1);
    transform: scale(1.1);
    color: black;
}

.login_icons {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.lr {
    width: 600px; /* Adjusted card width */
    height: 580px; /* Adjusted card height */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn_login {
    margin: 30px;
    margin-top: 90px;
}
