.container_Login {
    position: relative;
    top: 0;
    background-image: url('../../imgs/login.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: calc(100vh - 100px);
    font-family: Arial, Helvetica, sans-serif;
    background-color: black; /* Set background color to black */
}

.card_login {
    background: black; /* Set background color to black */
    opacity: 0.7;
    width: 600px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-align: center;
    color: antiquewhite;
}

.inp {
    margin-top: 20px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid;
    border-bottom-color: #DCF2F1;
    outline: none;
    margin-bottom: 30px;
    color: #FFD1E3;
    height: 50px;
    font-size: 40px;
}

.inp:focus {
    border-bottom-color:#98E4FF;
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.inp::placeholder {
    color: #C4E4FF; /* Change to your desired color */
}

.btn_login {
    background-color: black; /* Set button background color to black */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.btn_login:hover {
    background-color: #222; /* Darker shade of black for hover effect */
    transform: scale(1.1);
    color: white; /* Change text color on hover */
}

.login_icons {
    font-size: 40px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.lr {
    width: 600px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn_login {
    margin: 30px;
    margin-top: 90px;
    padding-bottom: 10px;
}
