.contact_form {
    margin-left:auto;
    margin-right:auto;
    width: 965px;
    height: 450px;
    padding:30px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    overflow: hidden; 
}

.contact_textarea{
	  background: rgba(0, 0, 0, 0.4); 
    width: 894px;
    height: 110px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 45px;
    padding-right: 20px;
    padding-top: 12px;
    margin-bottom: 20px;
    overflow: hidden;
}

.nameinput, .emailinput {
    width: 894px;
    height: 48px;
    border: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; 
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    cursor: pointer;
}

input.nameinput {
	  background: rgba(0, 0, 0, 0.4); 
	  padding-left: 45px;
}


input.emailinput {
	  background: rgba(0, 0, 0, 0.4);
	  padding-left: 45px;
}

input.message {
	  background: rgba(0, 0, 0, 0.4);
	  padding-left: 45px;
}


::-webkit-input-placeholder {
	  color: #fff;
}

.btn {
	border: none;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  width: 200px;
  height: 48px;
	color: #000;
	background: #fff;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	position: relative;
  outline: none;
  box-shadow: 0 6px #cecece;
  border-radius: 5px;
  margin-right: 6px;
} 